
services:
  seed:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    image: blockchain:latest
    container_name: seed
    entrypoint: ["./entrypoint.sh"]
    volumes:
      - fullnode_data:/app/.chain
      - ./.env:/app/.env
      - ./logs/fullnode:/app/logs
      - ./.identity:/app/.identity
    environment:
      - INSTANCE_ID=9000
      - WALLET_ADDRESS=1NcsxXLcNSHz7cZjRERLYTKtR8fUx7Qh3e
      - PORT=9000
      - START_NODE_FLAGS=--Fullnode=true --SeedPeer=true
      - WALLET_ADDRESS_CHECKSUM=4
    ports:
      - "9000:9000"
    networks:
      blocknet:
        ipv4_address: 172.28.0.10
    stdin_open: true
    tty: true

  miner_1:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    image: blockchain:latest
    container_name: miner_1
    entrypoint: ["./entrypoint.sh"]
    volumes:
      - miner_1_data:/app/.chain
      - ./.env:/app/.env
      - ./logs/miner_1:/app/logs
    environment:
      - INSTANCE_ID=9001
      - WALLET_ADDRESS=1AAiHwi2eoTHt6G4VdYP7gL6WcDPYJLf9H
      - PORT=9001
      - START_NODE_FLAGS=--Miner=true --Address=1AAiHwi2eoTHt6G4VdYP7gL6WcDPYJLf9H
      - WALLET_ADDRESS_CHECKSUM=4
    ports:
      - "9001:9001"
    networks:
      blocknet:
        ipv4_address: 172.28.0.11
    stdin_open: true
    tty: true

  miner_2:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    image: blockchain:latest
    container_name: miner_2
    entrypoint: ["./entrypoint.sh"]
    volumes:
      - miner_2_data:/app/.chain
      - ./.env:/app/.env
      - ./logs/miner_2:/app/logs
    environment:
      - INSTANCE_ID=9002
      - WALLET_ADDRESS=1FrBKbuGRApHz9RNxdeJ5SMu3ojQiSwATS
      - PORT=9002
      - START_NODE_FLAGS=--Miner=true --Address=1FrBKbuGRApHz9RNxdeJ5SMu3ojQiSwATS
      - WALLET_ADDRESS_CHECKSUM=4
    ports:
      - "9002:9002"
    networks:
      blocknet:
        ipv4_address: 172.28.0.12
    stdin_open: true
    tty: true

  fullnode_rpc:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    image: blockchain:latest
    container_name: fullnode_rpc
    entrypoint: ["./entrypoint.sh"]
    volumes:
      - fullnode_owner_data:/app/.chain
      - ./.env:/app/.env
      - ./logs/fullnode_rpc:/app/logs
    environment:
      - INSTANCE_ID=9003
      - WALLET_ADDRESS=1FvWRakdEUxjVb9d2XoKdC9apVC8nbeASj
      - PORT=9003
      - START_NODE_FLAGS=--Fullnode=true --RPC=true --RPC-Port=9050 --RPC-Addr=0.0.0.0 --RPC-Mode=http
      - WALLET_ADDRESS_CHECKSUM=4
    ports:
      - "9003:9003"
      - "9050:9050"
    networks:
      blocknet:
        ipv4_address: 172.28.0.13
    stdin_open: true
    tty: true

volumes:
  fullnode_data:
  miner_1_data:
  miner_2_data:
  fullnode_owner_data:

networks:
  blocknet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/24
