
services:
  seed_1:
    image: blockchain:latest
    container_name: seed_1
    entrypoint: ["./entrypoint.sh"]
    restart: always
    volumes:
      - seed_1_data:/app/.chain
      - ./.env:/app/.env
      - ./logs/fullnode:/app/logs
      - ./.identity_1:/app/.identity_9000
    environment:
      - INSTANCE_ID=9000
      - WALLET_ADDRESS=1NcsxXLcNSHz7cZjRERLYTKtR8fUx7Qh3e
      - PORT=9000
      - START_NODE_FLAGS=--Fullnode=true --SeedPeer=true
      - WALLET_ADDRESS_CHECKSUM=4
    ports:
      - "9000:9000"
    stdin_open: true
    tty: true
    networks:
      - blockchain_net

  seed_2:
    image: blockchain:latest
    container_name: seed_2
    restart: always
    entrypoint: ["./entrypoint.sh"]
    volumes:
      - seed_2_data:/app/.chain
      - ./.env:/app/.env
      - ./logs/fullnode:/app/logs
      - ./.identity_2:/app/.identity_9001
    environment:
      - INSTANCE_ID=9001
      - WALLET_ADDRESS=1MqZxgwHHrun6gp8bVB2nFejiDRvhtPVK8
      - PORT=9001
      - START_NODE_FLAGS=--Fullnode=true --SeedPeer=true
      - WALLET_ADDRESS_CHECKSUM=4
    ports:
      - "9001:9001"
    stdin_open: true
    tty: true
    networks:
      - blockchain_net

  miner_1:
    image: blockchain:latest
    container_name: miner_1
    entrypoint: ["./entrypoint.sh"]
    restart: always
    volumes:
      - miner_1_data:/app/.chain
      - ./.env:/app/.env
      - ./logs/miner_1:/app/logs
    environment:
      - INSTANCE_ID=9002
      - WALLET_ADDRESS=1FrBKbuGRApHz9RNxdeJ5SMu3ojQiSwATS
      - PORT=9002
      - START_NODE_FLAGS=--Miner=true --Address=1FrBKbuGRApHz9RNxdeJ5SMu3ojQiSwATS
      - WALLET_ADDRESS_CHECKSUM=4
    ports:
      - "9002:9002"
    stdin_open: true
    tty: true
    networks:
      - blockchain_net

  fullnode_rpc:
    image: blockchain:latest
    container_name: fullnode_rpc
    restart: always
    entrypoint: ["./entrypoint.sh"]
    volumes:
      - fullnode_owner_data:/app/.chain
      - ./.env:/app/.env
      - ./logs/fullnode_rpc:/app/logs
    environment:
      - INSTANCE_ID=9003
      - WALLET_ADDRESS=1FvWRakdEUxjVb9d2XoKdC9apVC8nbeASj
      - PORT=9003
      - START_NODE_FLAGS=--Fullnode=true --RPC=true --RPC-Port=9050 --RPC-Addr=0.0.0.0 --RPC-Mode=http
      - WALLET_ADDRESS_CHECKSUM=4
    ports:
      - "9003:9003"    
      - "9050:9050" 
    stdin_open: true
    tty: true
    networks:
      - blockchain_net

volumes:
  seed_1_data:
  seed_2_data:
  miner_1_data:
  fullnode_owner_data:

networks:
  blockchain_net:
    external: true

